body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5334f5;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  margin: 0;
  position: relative;
  background: linear-gradient(
      135deg,
      rgba(76, 76, 76, 0.04) 0%,
      rgba(76, 76, 76, 0.04) 10%,
      rgba(149, 149, 149, 0.04) 10%,
      rgba(149, 149, 149, 0.04) 100%
    ),
    linear-gradient(
      90deg,
      rgba(196, 196, 196, 0.04) 0%,
      rgba(196, 196, 196, 0.04) 59%,
      rgba(68, 68, 68, 0.04) 59%,
      rgba(68, 68, 68, 0.04) 100%
    ),
    linear-gradient(
      45deg,
      rgba(39, 39, 39, 0.01) 0%,
      rgba(39, 39, 39, 0.01) 9%,
      rgba(218, 218, 218, 0.01) 9%,
      rgba(218, 218, 218, 0.01) 100%
    ),
    linear-gradient(
      0deg,
      rgba(26, 26, 26, 0.04) 0%,
      rgba(26, 26, 26, 0.04) 33%,
      rgba(90, 90, 90, 0.04) 33%,
      rgba(90, 90, 90, 0.04) 100%
    ),
    linear-gradient(
      135deg,
      rgba(37, 37, 37, 0.07) 0%,
      rgba(37, 37, 37, 0.07) 46%,
      rgba(50, 50, 50, 0.07) 46%,
      rgba(50, 50, 50, 0.07) 100%
    ),
    linear-gradient(90deg, rgb(8, 28, 65), rgb(16, 173, 226));
  background: url("../images/wallpaper.jpg");
  background-size: cover;
  /* WE SET POSITION RELATIVE HERE SO THAT OUR WAVE ANIMATION HAS A CONTAINER TO ALIGN TO. WITHOUT SETTING THIS TO RELATIVE, THE WAVE ANIMATION BASICALLY JUST FLOATS IN THE MIDDLE OF THE SCREEN */
  
}

.HeroGroup {
  margin: 0 auto;
  /* margin: top right bottom left; 
  First value of 0 is TOP. When you use "auto" on the 2nd value it makes the RIGHT and LEFT margins auto center the content. 0 auto is the equivalent of 0 auto 0 auto */
  max-width: 500px;
  /* Autoresize to 100% width under 500px */
  padding: 150px 50px;
  /* padding: TOP RIGHT BOTTOM LEFT so 150 top 50 right 150 bottom 50 left */
  text-align: center;
}

.Hero h1 {
  margin: 0;
  /* WE NOTICED THE H1 TAG WAS AUTOMATICALLY ADDING MARGIN IN THE GOOGLE INSPECTOR TOOLS, SO WE REMOVE THIS MARGIN FOR FULL CONTROL VIA THE DIV. */
  color: white;
  font-size: 60px;
  line-height: 1.2;

  opacity: 0;
  /* WE SET THE TEXT TO BE INVISIBLE WHEN THE PAGE LOADS, THEN WE RUN THE BELOW ANIMATION WHICH GRADUALLY MAKES IT VISIBLE */

  animation: HeroAnimation;
  /* HeroAnimation IS SET BELOW IN THE KEYFRAMES SECTION */

  animation-duration: 2.4s;
  /* ANIMATION WILL NOT FUNCTION WITHOUT A DURATION */

  animation-fill-mode: forwards;
  /* ANIMATION-FILL-MODE TELLS THE BROWSER WHAT HAPPENS WHEN THE ANIMATION COMPLETES. FORWARDS MAKES THE FINAL ANIMATION VALUE STAY PERMANENT INSTEAD OF RESETTING TO THE DEFAULT VALUES WE SUPPLY ABOVE! */

  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* ANIMATION-TIMING-FUNCTION ALLOWS US TO SPEED UP OR SLOW DOWN THE ANIMATION THROUGHOUT IT'S "CYCLES" - JUST USE A PRESET BY PRESSNIG CTRL + SPACE ON VS CODE */
}

.Hero p {
  color: rgb(255, 255, 255);
  /* WE USE RGBA SO WE CAN ADJUST TRANSPARENCY */
  font-size: 30px;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
  line-height: 1.5;
  /* INSTEAD OF USING MULTIPLE LINES WE CAN USE SHORTHAND FOR ANIMATION PROPERTIES AS SHOWN BELOW */
  animation: HeroAnimation 2.4s forwards ease-out;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  /* ADDS A BLACK TRANSPARENT BACKGROUND BEHIND OUR PRIMARY BUTTON LINK */
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* ADDS A SUBTLE WHITE BORDER AROUND THE LINK PADDING */
  border-radius: 20px;
  /* THIS SETTING ROUNDS OFF THE CORNERS OF OUR BORDERS THE SAME WAY IT DOES IN FIGMA */
  transition: 0.5s ease-out;
}

.Hero a:hover {
  background: white;
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.Hero svg {
  /* POSITION THE ANIMATED WAVE BAR ABSOLUTE SO WE CAN ALIGN IT ON THE BOTTOM LEFT OF OUR HERO CONTAINER */
  position: absolute;
  bottom: -5px;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 40px;
  margin: 100px 0;
  align-items: center;
  /* JUSTIFY ITEMS CENTER FOR MOBILE VIEW MAINLY. */
  justify-items: center;
}

.Cards {
  margin: 40px 0 95px 0;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
  justify-items: center;
}

#CardSection h2 {
  margin: 0px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  color: rgb(0, 34, 44);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1440px) {
  .Cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1060px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .Cards {
    grid-template-columns: 1fr;
  }
}
/* WHENEVER THE VIEW WINDOW SHRINKS TO < 640, APPLY THE FOLLOWING CSS CHANGES */
@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }
  /* REDUCE HEADER SIZE FROM 60px TO 40px WHEN VIEW WINDOW SHRINKS */
  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 24px;
  }
  .Hero .Logos {
    grid-template-columns: repeat(3, auto);
  }
}
/* KEYFRAMES IS A TOOL FOR ANIMATIONS. @keyframes ANYNAME { */
@keyframes HeroAnimation {
  /* FIRST WE SET THE STARTING STATE FOR WHEN OUR PAGE LOADS */
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* THIS MAKES OUR TEXT APPEAR LOWER ON THE SCREEN THEN GRADUALLY MOVE UPWARD WHEN THE PAGE LOADS */
  }
  /* THEN WE SET THE ENDING STATE */
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
